.p-minimum-project
    .p-minimum-project__button
      +button
    .p-minimum-project__button
      +c-button--arrow-right
    .p-minimum-project__button
      +c-button--large
    .p-minimum-project__button
      +c-button--warning